// LINK :: START


section.link
  .container

    h1.link__title.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Контакты"

    .link__row
      .link__block.link__block-0
        p.link__block-info.wow(data-animation-delay="0.3s")!= "Skype"
        a.link__block-title.wow(data-animation-delay="0.3s" href="#")!= "winance.ru"

        .link__block-box.animated.slideInUp
          i.link__block-icon.icon-skype.wow.wowFadeUp(data-animation-delay="0.3s")

      .link__block.link__block-1
        p.link__block-info.wow(data-animation-delay="0.4s")!= "Почта"
        a.link__block-title.wow(data-animation-delay="0.4s" href="mailto:info@winance.ru")!= "info@winance.ru"

        .link__block-box.animated.slideInUp
          i.link__block-icon.icon-email.wow.wowFadeUp(data-animation-delay="0.4s")

      .link__block.link__block-2
        p.link__block-info.wow(data-animation-delay="0.5s")!= "Telegram"
        a.link__block-title.wow(data-animation-delay="0.5s" href="tg://resolve?domain=@winancefund")!= "@winancefund"

        .link__block-box.animated.slideInUp
          i.link__block-icon.icon-telegram.wow.wowFadeUp(data-animation-delay="0.5s")

      .link__block.link__block-3
        p.link__block-info.wow(data-animation-delay="0.6s")!= "Телефон"
        a.link__block-title.wow(data-animation-delay="0.6s" href="tel:+ 7 495 777-40-05")!= "+ 7 495 777-40-05"
        a.link__block-title.wow(data-animation-delay="0.6s" href="tel:+7 999 111-01-00")!= "+7 999 111-01-00"
        p.link__block-additional.wow(data-animation-delay="0.6s")!= "пн–пт: 10:00–19:00"

        .link__block-box.animated.slideInUp
          i.link__block-icon.icon-phone.wow.wowFadeUp(data-animation-delay="0.6s")


// LINK :: END
