// LINK :: START


section.link
  .container

    h1.link__title.title!= "Контакты"

    .link__row
      .link__block.link__block-0
        p.link__block-info!= "Skype"
        a.link__block-title(href="#")!= "winance.ru"

        .link__block-box
          i.link__block-icon.icon-skype

      .link__block.link__block-1
        p.link__block-info!= "Почта"
        a.link__block-title(href="mailto:info@winance.ru")!= "info@winance.ru"

        .link__block-box
          i.link__block-icon.icon-email

      .link__block.link__block-2
        p.link__block-info!= "Telegram"
        a.link__block-title(href="tg://resolve?domain=@winancefund")!= "@winancefund"

        .link__block-box
          i.link__block-icon.icon-telegram

      .link__block.link__block-3
        p.link__block-info!= "Телефон"
        a.link__block-title(href="tel:+ 7 495 777-40-05")!= "+ 7 495 777-40-05"
        a.link__block-title(href="tel:+7 999 111-01-00")!= "+7 999 111-01-00"
        p.link__block-additional!= "пн–пт: 10:00–19:00"

        .link__block-box
          i.link__block-icon.icon-phone


// LINK :: END
