// BILL CONFIRMATION :: START

.bill
  .container

    h1.bill__title.cabinet__title!= "Вывод стредств"

    .bill__box
      .bill__box-nav
        ul
          li
            a(href="" title="" class="")!= "Заявка"
          li
            i.icon-pointer
          li
            a(href="" title="" class="is-active")!= "Подтверждение"

      .bill__box-wrap

        .bill__box-left
          p.bill__box-text!= "Похоже, Вы подали заявку на вывод средств."
          br
          p.bill__box-text!= "Мы стремимся обеспечить максимальную безопасность, по этому отправили Вам код подтверждения на e-mail."
          br
          p.bill__box-text!= "Если Вы не получили код, можете запросить его повторно!!"


        .bill__box-right
          form.bill__box-form(action="" method="" autocomplete="off")
            .form__field.form__field--p
              input.form__input(type="text" name="code" class="" id="billConfirm_code" placeholder="000000")
              label.form__label(for="billConfirm_code")!= "Код подтверждения"

            .form__field-btn
              button.btn.btn--esmall.btn--color(type="button")!= "Подтвердить"
              button.btn.btn--esmall(type="button")!= "Получить код"

// BILL CONFIRMATION :: END