// BILL :: START

mixin tableRow(valDate, valOpr, valCode, valDone)
  .bill__table-row
    .bill__table-col.bill__table-col--0
      p!= valDate
    .bill__table-col.bill__table-col--1
      p!= valOpr
    .bill__table-col.bill__table-col--2
      p!= valCode
    .bill__table-col.bill__table-col--3
      p!= valDone

.bill.bill--main
  .container

    .bill__container.bill__container-0
      h1.bill__title.cabinet__title!= "Мой счет"

      .bill__block-wrap
        .bill__block.bill__block-0
          p.bill__block-badge!= "Доллары"
          p.bill__block-title!= "<span>350.00</span> $"
          .bill__block-list
            p!= "<span>200</span> $"
            span!= "– Заработано всего"

          .bill__block-list
            p!= "<span>50</span> $"
            span!= "– Привлеченные инвестиций"

          a.btn.btn--esmall.btn--colorWT(href="#" class="" title="")!= "Вывести средства"

        .bill__block.bill__block-1
          p.bill__block-badge!= "Евро"
          p.bill__block-title!= "<span>100.00</span> €"
          .bill__block-list
            p!= "<span>200</span> $"
            span!= "– Заработано всего"

          .bill__block-list
            p!= "<span>50</span> $"
            span!= "– Привлеченные инвестиций"

          a.btn.btn--esmall.btn--colorWT(href="#" class="" title="")!= "Вывести средства"

        .bill__block.bill__block-2
          p.bill__block-badge!= "Рубли"
          p.bill__block-title!= "<span>0.00</span> ₽"
          .bill__block-list
            p!= "<span>0</span> $"
            span!= "– Заработано всего"

          .bill__block-list
            p!= "<span>0</span> $"
            span!= "– Привлеченные инвестиций"

          a.btn.btn--esmall.btn--colorWT(href="#" class="" title="")!= ""



    .bill__container.bill__container-1
      h1.bill__title.cabinet__title!= "История"

      .bill__filter
        .bill__filter-row.bill__filter-row--0
          .form__field.form__field--select
            select(name="" id="bill_filter_0" selectric-js)
              option(value="")!= "Все"
              option(value="")!= "Все"
              option(value="")!= "Все"
              option(value="")!= "Все"
            label.form__label(for="bill_filter_0")!= "Валюта вывода"

          .form__field.form__field--select
            select(name="" id="bill_filter_1" selectric-js)
              option(value="")!= "Все"
              option(value="")!= "Все"
              option(value="")!= "Все"
              option(value="")!= "Все"
            label.form__label(for="bill_filter_1")!= "Счета"

        .bill__filter-row.bill__filter-row--1

          .bill__pagination
            ul.bill__pagination-list
              li.bill__pagination-item
                p.bill__pagination-title!= "Операции:"
              li.bill__pagination-item
                a.bill__pagination-link.is-active(bill-filter-js href="#" title="")!= "Все"
              li.bill__pagination-item
                a.bill__pagination-link.bill__pagination-link--add(bill-filter-js href="#" title="")!= "Пополнение"
              li.bill__pagination-item
                a.bill__pagination-link.bill__pagination-link--remove(bill-filter-js href="#" title="")!= "Снятие"

        .bill__table
          .bill__table-row
            .bill__table-col.bill__table-col--0
              p!= "Дата"
            .bill__table-col.bill__table-col--1
              p!= "Операция"
            .bill__table-col.bill__table-col--2
              p!= "Код системы"
            .bill__table-col.bill__table-col--3
              p!= "Статус"

          +tableRow("17.11.2018", "<span class='plus'>+ 750.00 RUB</span> Начисление процента - 3%", "OTHERBANK", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='plus'>+ 750.00 RUB</span> Начисление процента - 3%", "OTHERBANK", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='plus'>+ 750.00 RUB</span> Начисление процента - 3%", "OTHERBANK", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='plus'>+ 750.00 RUB</span> Начисление процента - 3%", "OTHERBANK", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='plus'>+ 750.00 RUB</span> Начисление процента - 3%", "OTHERBANK", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='plus'>+ 750.00 RUB</span> Начисление процента - 3%", "OTHERBANK", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='plus'>+ 750.00 RUB</span> Начисление процента - 3%", "OTHERBANK", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='plus'>+ 750.00 RUB</span> Начисление процента - 3%", "OTHERBANK", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='plus'>+ 750.00 RUB</span> Начисление процента - 3%", "OTHERBANK", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")
          +tableRow("17.11.2018", "<span class='minus'>- 12500.00</span> RUB QIWIR", "QIWIRUB", "Выполнена")


// BILL :: END