// MAIN :: START


-
  var mainMenu = [
    {
      href: "cabinetInvestment.html",
      name: "Инвестиции",
      count: "1"
    },
    {
      href: "cabinetPartners.html",
      name: "Партнерская программа",
      count: "0"
    },
    {
      href: "cabinetInformation.html",
      name: "Информация",
      count: "0"
    },
    {
      href: "cabinetSupportEmpty.html",
      name: "Поддержка",
      count: "1"
    },
    {
      href: "cabinetReports.html",
      name: "Отчеты",
      count: "0"
    }
  ];

mixin mainBtn(classMod, href, name, count)
  a.main__nav-btn(
    href!= href
    title!= ""
    class!= classMod
  )
    span!= name
    if(count !== "0")
      sup
        span!= count


.main.wow.wowFadeUp(data-animation-delay="0.4s")
  .container

    .main__row.main__row-0
      .main__row-left
        h1.main__title.title!= "Личный кабинет"

      .main__row-right
        p.main__balance!= "<span>6 750.00</span> <span>$</span>"
        p.main__balance-details!= "<span>200.00</span> <span>$</span> + <span>1 500.00</span> <span>€</span> + <span>0.00</span> <span>₽</span>"

    .main__row.main__row-1
      .main__row-left
        .main__nav
          ul.main__nav-list
            each val, idx in mainMenu
              li.main__nav-item
                if(idx === 0 && (pageName === "cabinetInvestment" || pageName === "cabinetInvestmentNew" || pageName === "cabinetInvestmentPuy" || pageName === "cabinetInvestmentPuyFinish" || pageName === "cabinetInvestmentTabs"))
                  +mainBtn("is-active", mainMenu[idx].href, mainMenu[idx].name, mainMenu[idx].count)
                else if(idx === 1 && (pageName === "cabinetPartners"))
                  +mainBtn("is-active", mainMenu[idx].href, mainMenu[idx].name, mainMenu[idx].count)
                else if(idx === 2 && (pageName === "cabinetInformation"))
                  +mainBtn("is-active", mainMenu[idx].href, mainMenu[idx].name, mainMenu[idx].count)
                else if(idx === 3 && (pageName === "cabinetSupport" || pageName === "cabinetSupportEmpty"))
                  +mainBtn("is-active", mainMenu[idx].href, mainMenu[idx].name, mainMenu[idx].count)
                else if(idx === 4 && (pageName === "cabinetReports"))
                  +mainBtn("is-active", mainMenu[idx].href, mainMenu[idx].name, mainMenu[idx].count)
                else
                  +mainBtn("", mainMenu[idx].href, mainMenu[idx].name, mainMenu[idx].count)


      .main__row-right
        a.main__score(
          href="cabinet.html"
          title!=""
          class!= (pageName === "cabinetBill" || pageName === "cabinetBillConclusion" || pageName === "cabinetBillConfirmation") ? "is-active": ""
        )
          span!= "Мой счет"
          i.icon-score

    .main__row.main__row-2
      .form__field.form__field--select.form__field--p
        select(name="" id="menu" selectric-js)
          option(value!="cabinetInvestment.html")!= "Инвестиции"
          option(value!="cabinetPartners.html")!= "Партнерская программа"
          option(value!="cabinetInformation.html")!= "Информация"
          option(value!="cabinetSupportEmpty.html")!= "Поддержка"
          option(value!="cabinetReports.html")!= "Отчеты"
          option(value!="cabinet.html")!= "Мой счет"


// MAIN :: END