// PARTNERS :: START


.partners
  .container


    h2.partners__title.cabinet__title!= "Партнерская программа"


    .partners__container.partners__container-0
      .partners__row.partners__row--baseline
        .partners__block.partners__block-0
          .partners__block-top
            p!= "Ваша партнерская ссылка:"
            p#copyLink= "https://respectbet.com/rb/3940039173"
          .partners__block-bottom
            a.btn.btn--medium(
              href="#"
              title=""
              data-clipboard-action="copy" data-clipboard-target="#copyLink"
              copy-btn-js
            )!= "Скопировать ссылку"

        .partners__block.partners__block-1
          .partners__block-top
            img(
              src="./img/img-numParcent__partners.png"
              srcset="./img/img-numParcent__partners@2x.png 2x"
              title=""
              alt=""
            )
          .partners__block-bottom
            p!= "При привлечении 2-х новых инвесторов и более вы получаете <span>10% от суммы дивидентов</span> привлеченных инвесторов."


    .partners__container.partners__container-1

      .partners__table
        .partners__table-row.partners__table-row-0
          .partners__table-col
            p!= "Статистика"
          .partners__table-col
            p!= "Размещенные инвестиции:"

        .partners__table-row.partners__table-row-1
          .partners__table-col
            p!= "Дата регистрации"
          .partners__table-col
            p!= "E-mail"
          .partners__table-col.partners__table-col--desktop
            p!= "$"
          .partners__table-col.partners__table-col--desktop
            p!= "€"
          .partners__table-col.partners__table-col--desktop
            p!= "₽"

        .partners__table-row.partners__table-row-2
          .partners__table-col
            p!= "17.11.2018"
          .partners__table-col
            p!= "mail@mail.ru"
          .partners__table-col.partners__table-col--mobile
            p!= "$"
          .partners__table-col.partners__table-col--mobile
            p!= "€"
          .partners__table-col.partners__table-col--mobile
            p!= "₽"
          .partners__table-col.partners__table-col--desktop
            p!= "200.00"
          .partners__table-col.partners__table-col--desktop
            p!= "-"
          .partners__table-col.partners__table-col--desktop
            p!= "-"

        .partners__table-row.partners__table-row-3
          .partners__table-col
            p!= "17.11.2018"
          .partners__table-col
            p!= "mail@mail.ru"
          .partners__table-col.partners__table-col--mobile
            p!= "$"
          .partners__table-col.partners__table-col--mobile
            p!= "€"
          .partners__table-col.partners__table-col--mobile
            p!= "₽"
          .partners__table-col.partners__table-col--desktop
            p!= "-"
          .partners__table-col.partners__table-col--desktop
            p!= "200.00"
          .partners__table-col.partners__table-col--desktop
            p!= "-"

        .partners__table-row.partners__table-row-4
          .partners__table-col
            p!= "Заработано в партнерской программе:"
          .partners__table-col.partners__table-col--mobile
            p!= "$"
          .partners__table-col.partners__table-col--mobile
            p!= "€"
          .partners__table-col.partners__table-col--mobile
            p!= "₽"
          .partners__table-col.partners__table-col--desktop
            p!= "200.00"
          .partners__table-col.partners__table-col--desktop
            p!= "20.00"
          .partners__table-col.partners__table-col--desktop
            p!= "-"

        .partners__table-row.partners__table-row-5
          .partners__table-col
            p!= "Инвестиции рефералов:"
          .partners__table-col.partners__table-col--mobile
            p!= "$"
          .partners__table-col.partners__table-col--mobile
            p!= "€"
          .partners__table-col.partners__table-col--mobile
            p!= "₽"
          .partners__table-col.partners__table-col--desktop
            p!= "2000.00"
          .partners__table-col.partners__table-col--desktop
            p!= "-"
          .partners__table-col.partners__table-col--desktop
            p!= "-"


    h2.partners__title.cabinet__title!= "Баннеры"


    .partners__container.partners__container-2

      .partners__row.partners__row--center

        .partners__row-left

          .partners__pagination
            ul.partners__pagination-list
              li.partners__pagination-item
                p.partners__pagination-title!= "Размер:"
              li.partners__pagination-item
                a.partners__pagination-link.is-active(partners-size-js href="#" title="")!= "240x400"
              li.partners__pagination-item
                a.partners__pagination-link(partners-size-js href="#" title="")!= "468x60"
              li.partners__pagination-item
                a.partners__pagination-link(partners-size-js href="#" title="")!= "728-90"

        .partners__row-right

          .partners__pagination
            ul.partners__pagination-list
              li.partners__pagination-item
                p.partners__pagination-title!= "Формат:"
              li.partners__pagination-item
                a.partners__pagination-link.is-active(partner-format-js href="#" title="")!= "GIF"
              li.partners__pagination-item
                a.partners__pagination-link(partner-format-js href="#" title="")!= "html-5"


    .partners__container.partners__container-3

      .partners__banner

        .partners__banner-left
          img.partners__banner-img(
            src="./img/img-banner-0__partners.png"
            srcset="./img/img-banner-0__partners@2x.png 2x"
            class=""
            title=""
            alt=""
          )

        .partners__banner-right
          .partners__banner-box
            p#copyBanner1= '<a href="https://respectbet.com/rb/3940039173/" title="respect_1"><img src="https://respectbet.com/banners/respect_1.gif" width="240" height="400" border=0 alt="https://respectbet.com"></a>'
            a.btn(
              href="#"
              title=""
              data-clipboard-action="copy"
              data-clipboard-target="#copyBanner1"
              copy-btn-js
            )!= "Скопировать код"


    .partners__container.partners__container-4

      .partners__banner

        .partners__banner-left
          img.partners__banner-img(
            src="./img/img-banner-1__partners.png"
            srcset="./img/img-banner-1__partners@2x.png 2x"
            class=""
            title=""
            alt=""
          )

        .partners__banner-right
          .partners__banner-box
            p#copyBanner2= '<a href="https://respectbet.com/rb/3940039173/" title="respect_1"><img src="https://respectbet.com/banners/respect_1.gif" width="240" height="400" border=0 alt="https://respectbet.com"></a>'
            a.btn(
              href="#"
              title=""
              data-clipboard-action="copy"
              data-clipboard-target="#copyBanner2"
              copy-btn-js
            )!= "Скопировать код"


// PARTNERS :: END