// REPORTS :: START


.reports
  .container

    h1.reports__title.cabinet__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Видео-отчеты"

    .reports__row
      .reports__block.reports__block-0.wow.wowFadeUp(data-animation-delay="0.4s")
        .reports__block-wrap
          // include video...
        p!= "Отчет деятельности RespectBet <br>13 декабря 2017"
        a.icon-play(href="#" class="" title=""
          playVideo-js
          data-effect="mfp-zoom-in"
          data-mfp-src="https://www.youtube.com/watch?v=m6hJtLH7QZA"
        )

      .reports__block.reports__block-1.wow.wowFadeUp(data-animation-delay="0.45s")
        .reports__block-wrap
          // include video...
        p!= "Отчет деятельности RespectBet <br>13 декабря 2017"
        a.icon-play(href="#" class="" title=""
          playVideo-js
          data-effect="mfp-zoom-in"
          data-mfp-src="https://www.youtube.com/watch?v=m6hJtLH7QZA"
        )

      .reports__block.reports__block-2.wow.wowFadeUp(data-animation-delay="0.5s")
        .reports__block-wrap
          // include video...
        p!= "Отчет деятельности RespectBet <br>13 декабря 2017"
        a.icon-play(href="#" class="" title=""
          playVideo-js
          data-effect="mfp-zoom-in"
          data-mfp-src="https://www.youtube.com/watch?v=m6hJtLH7QZA"
        )



// REPORTS :: END