// SUPPORT :: START


.support.support--empty
  .container

    h1.support__title.cabinet__title!= "Тикеты"

    .support__row
      .support__block
        p!= "Прежде чем писать попробуйте <br>найти ответ <a href='faq.html'>в разделе FAQ</a>"

        a.btn.btn--small.btn--color(
          href="#modalTicket"
          title=""
          class=""
          ticket-new-js
        )!= "Открыть новый тикет"

      .support__block
        p!= "Тут будет отображаться ваши обращения <br>и ответы на них."



// SUPPORT :: END