// MAIN :: START


section.main
  .container

    .main__row
      .main__row-left
        h1.main__title.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Отзывы клиентов"
        h2.main__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.4s")!= "Для нас важно получать обратную связь от наших клиентов, она позволяет нам становиться лучше с каждым днем."

      .main__row-right
        a.main__btn.btn.btn--color.wow.wowFadeUp(
          data-animation-delay="0.4s"
          href="#modalReviews"
          title!=""
          class!= ""
          review-btn-js
        )!= "Оставить отзыв"

// MAIN :: END