// HEADER :: START


-
  var headerBarNav = [
    {
      href: 'blog.html',
      name: 'Блог'
    },
    {
      href: 'press.html',
      name: 'Пресса о нас'
    },
    {
      href: 'contacts.html',
      name: 'Контакты'
    },
    {
      href: 'reviews.html',
      name: 'Отзывы'
    }
  ];
  var headerWrapperNav = [
    {
      href: 'about.html',
      name: 'О фонде'
    },
    {
      href: 'howWeEarn.html',
      name: 'Как мы зарабатываем'
    },
    {
      href: 'investors.html',
      name: 'Инвесторам'
    },
    {
      href: 'faq.html',
      name: 'FAQ'
    }
  ];
  var headerLang = [
    {
      href: '#',
      name: 'EN'
    }
  ];



header.header
  .header__bar
    .container
      .header__bar-row
        .header__bar-left.wow.wowFadeUp(data-animation-delay="0.3s")
          +lang(headerLang)

        .header__bar-middle
          //+headerNav("bar", headerBarNav)
          .nav.nav--bar
            ul.nav__list
              each val, idx in headerBarNav
                if(pageName === "blog" && idx === 0)
                  li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
                    a.nav__link.is-active(href!= headerBarNav[idx].href title!="")!= headerBarNav[idx].name
                else if(pageName === "press" && idx === 1)
                  li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
                    a.nav__link.is-active(href!= headerBarNav[idx].href title!="")!= headerBarNav[idx].name
                else if(pageName === "contacts" && idx === 2)
                  li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
                    a.nav__link.is-active(href!= headerBarNav[idx].href title!="")!= headerBarNav[idx].name
                else if(pageName === "reviews" && idx === 3)
                  li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
                    a.nav__link.is-active (href!= headerBarNav[idx].href title!="")!= headerBarNav[idx].name
                else
                  li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
                    a.nav__link(href!= headerBarNav[idx].href title!="")!= headerBarNav[idx].name

        .header__bar-right.wow.wowFadeUp(data-animation-delay="0.7s")
          +phoneNum("header", "+7 495 777 40 05")

  .header__wrapper
    .container
      .header__wrapper-row
        .header__wrapper-left.wow.wowFadeUp(data-animation-delay="0.3s")
          +logotype()

        .header__wrapper-middle
          .nav.nav--wrapper
            ul.nav__list
              each val, idx in headerWrapperNav
                if(pageName === "about" && idx === 0)
                  li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
                    a.nav__link.is-active(href!= headerWrapperNav[idx].href title!="")!= headerWrapperNav[idx].name
                else if(pageName === "howWeEarn" && idx === 1)
                  li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
                    a.nav__link.is-active(href!= headerWrapperNav[idx].href title!="")!= headerWrapperNav[idx].name
                else if(pageName === "investors" && idx === 2)
                  li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
                    a.nav__link.is-active(href!= headerWrapperNav[idx].href title!="")!= headerWrapperNav[idx].name
                else if(pageName === "faq" && idx === 3)
                  li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
                    a.nav__link.is-active (href!= headerWrapperNav[idx].href title!="")!= headerWrapperNav[idx].name
                else
                  li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
                    a.nav__link(href!= headerWrapperNav[idx].href title!="")!= headerWrapperNav[idx].name

        .header__wrapper-right.wow.wowFadeUp(data-animation-delay="0.7s")
          a.parlor(href="cabinet.html" title!="" class!="")
            i.parlor__icon.icon-parlor
            != "Кабинет"

        .header__wrapper-mobile.wow.wowFadeUp(data-animation-delay="0.35s")
          +hamburger()

        
// HEADER :: END
