// MODAL VIDEO :: START

#modalVideo.modal.modal--video.mfp-hide.mfp-with-anim
  .modal__header
  .modal__body

// MODAL VIDEO :: END


// MODAL TESTIMONIALS :: START

#modalReviews.modal.modal--reviews.mfp-hide.mfp-with-anim
  .modal__header
  .modal__body
    p.modal__title!= "Оставьте отзыв о нашем сотрудничестве"

    form(action="" method="" autocomplete="off" reviews-form-js)

      .form__field.form__field--p
        input.form__input(type="text" name="reviews_name" class="" id="reviews_name" placeholder="")
        label.form__label(for="reviews_name")!= "Имя"

      .form__field.form__field--p
        input.form__input(type="text" name="reviews_surname" class="" id="reviews_surname" placeholder="")
        label.form__label(for="reviews_surname")!= "Фамилия"

      .form__field.form__field--p
        input.form__input(type="text" name="reviews_email" class="" id="reviews_email" placeholder="")
        label.form__label(for="reviews_email")!= "Почта"

      .form__field.form__field-textarea.form__field--p
        textarea.form__textarea(name="reviews_message" class="" id="reviews_message")
        label.form__label(for="reviews_message")!= "Ваш отзыв"

      .form__field-btn
        button.form__btn.btn.btn--color.btn--full(type="submit")!= "Оставть отзыв"

// MODAL TESTIMONIALS :: END


// MODAL TICKET :: END

#modalTicket.modal.modal--ticket.mfp-hide.mfp-with-anim
  .modal__header
  .modal__body
    p.modal__title!= "Задайте свой вопрос"

    form(action="" method="" autocomplete="off" ticket-form-js)

      .form__field.form__field--p
        input.form__input(type="text" name="ticket_subject" class="" id="ticket_subject" placeholder="")
        label.form__label(for="ticket_subject")!= "Тема"

      .form__field.form__field--select.form__field--p
        select(name="ticket_department" id="ticket_department" selectric-js)
          option(value="Технический")!= " Технический"
          option(value="Технический")!= " Технический"
          option(value="Технический")!= " Технический"
        label.form__label(for="ticket_department")!= "Отдел"

      .form__field.form__field--p
        input.form__input(type="text" name="ticket_name" class="" id="ticket_name" placeholder="")
        label.form__label(for="ticket_name")!= "Имя"

      .form__field.form__field--p
        input.form__input(type="text" name="ticket_email" class="" id="ticket_email" placeholder="")
        label.form__label(for="ticket_email")!= "E-mail"

      .form__field.form__field-textarea.form__field--p
        textarea.form__textarea(name="ticket_message" class="" id="ticket_message")
        label.form__label(for="ticket_message")!= "Ваш вопрос"

      .form__field-btn
        button.form__btn.btn.btn--color.btn--full(type="submit")!= "Отправить"

// MODAL TICKET :: END


// MODAL FAQ :: END

#modalFaq.modal.modal--faq.mfp-hide.mfp-with-anim
  .modal__header
  .modal__body
    p.modal__title!= "Если вы пока не нашли ответа на свой вопрос — спрашивайте!"

    form(action="" method="" autocomplete="off" faq-form-js)

      .form__field.form__field--p
        input.form__input(type="text" name="faq_subject" class="" id="faq_subject" placeholder="")
        label.form__label(for="faq_subject")!= "Тема"

      .form__field.form__field--p
        input.form__input(type="text" name="faq_email" class="" id="faq_email" placeholder="")
        label.form__label(for="faq_email")!= "Почта"

      .form__field.form__field-textarea.form__field--p
        textarea.form__textarea(name="faq_message" class="" id="faq_message")
        label.form__label(for="faq_message")!= "Ваш вопрос"

      .form__field-btn
        button.form__btn.btn.btn--color.btn--full(type="submit")!= "Задать вопрос"

// MODAL FAQ :: END


// MODAL ABOUT REQUEST :: END

#modalAbout.modal.modal--request.mfp-hide.mfp-with-anim
  .modal__header
  .modal__body
    p.modal__title!= "Получите отчеты о деятельности фонда за последние 3 года"

    form(action="" method="" autocomplete="off" about-form-js)

      .form__field.form__field--p
        input.form__input(type="text" name="request_name" class="" id="request_name" placeholder="")
        label.form__label(for="request_name")!= "Ваше имя"

      .form__field.form__field--p
        input.form__input(type="text" name="request_email" class="" id="request_email" placeholder="")
        label.form__label(for="request_email")!= "Почта"

      .form__field-btn
        button.form__btn.btn.btn--color.btn--full(type="submit")!= "Запросить"

// MODAL ABOUT REQUEST :: END


// MODAL ABOUT REQUEST :: END

#modalMessage.modal.modal--message.mfp-hide.mfp-with-anim
  .modal__header
  .modal__body
    p.modal__title!= "Сообщение о чем-то важном"

    form(action="" method="" autocomplete="off")
      .form__field-btn
        button.form__btn.btn.btn--color.btn--full(type="button")!= "Действие"

// MODAL ABOUT REQUEST :: END


// MODAL SIGN/REGISTER :: END

#modalSign.modal.modal--sign.mfp-hide.mfp-with-anim
  .modal__header
    a.is-active(
      href="#" title="" class=""
      data-id="0"
      change-sign-js
    )!= "Вход"
    a(
      href="#" title="" class=""
      data-id="1"
      change-sign-js
    )!= "Регистрация"

  .modal__body.modal__body-0.is-active
    form(action="" method="" autocomplete="off" sign-form-js)

      .form__field.form__field--p
        input.form__input(type="text" name="signin_email" class="" id="signin_email" placeholder="")
        label.form__label(for="signin_email")!= "Адрес почты"

      .form__field.form__field--p
        input.form__input(type="password" name="signin_password" class="" id="signin_password" placeholder="")
        label.form__label(for="signin_password")!= "Пароль"

      .form__field-btn
        button.form__btn.btn.btn--color.btn--full(type="submit")!= "Войти"

      .form__field-link
        a.form__link(href="#" title="" class="")!= "Забыли пароль?"

  .modal__body.modal__body-1
    form(action="" method="" autocomplete="off" register-form-js)

      p.modal__subtitle!= "Представьтесь"

      .form__field.form__field--p
        input.form__input(type="text" name="register_name" class="" id="register_name" placeholder="")
        label.form__label(for="register_name")!= "Имя"

      .form__field.form__field--p
        input.form__input(type="text" name="register_sname" class="" id="register_sname" placeholder="")
        label.form__label(for="register_sname")!= "Отчество"

      .form__field.form__field--p
        input.form__input(type="text" name="register_surname" class="" id="register_surname" placeholder="")
        label.form__label(for="register_surname")!= "Фамилия"


      p.modal__subtitle.modal__subtitle--m!= "Контакты и пароль"

      .form__field.form__field--p
        input.form__input(type="tel" name="register_phone" class="" id="register_phone" placeholder="")
        label.form__label(for="register_phone")!= "Телефон"

      .form__field.form__field--p
        input.form__input(type="text" name="register_email" class="" id="register_email" placeholder="")
        label.form__label(for="register_email")!= "Укажите почту"

      .form__field.form__field--p
        input.form__input(type="password" name="register_pass" class="" id="register_pass" placeholder="")
        label.form__label(for="register_pass")!= "Пароль"

      .form__field.form__field--p
        input.form__input(type="password" name="register_passRepeat" class="" id="register_passRepeat" placeholder="")
        label.form__label(for="register_passRepeat")!= "Подтвердите пароль"


      p.modal__subtitle.modal__subtitle--m!= "День рождения"

      .form__field-group
        .form__field.form__field--date.form__field--select.form__field--p
          select(name="register_day" id="register_day" selectric-js)
            option(value="" disabled selected)!= "00"
            option(value="00")!= "00"
            option(value="01")!= "01"
            option(value="02")!= "02"
            option(value="03")!= "03"
            option(value="04")!= "04"
            option(value="05")!= "05"
          label.form__label(for="register_day")!= "День"

        .form__field.form__field--date.form__field--select.form__field--p
          select(name="register_month" id="register_month" selectric-js)
            option(value="" disabled selected)!= "00"
            option(value="00")!= "00"
            option(value="00")!= "00"
            option(value="01")!= "01"
            option(value="02")!= "02"
            option(value="03")!= "03"
            option(value="04")!= "04"
            option(value="05")!= "05"
          label.form__label(for="register_month")!= "Месяц"

        .form__field.form__field--date.form__field--select.form__field--p
          select(name="register_year" id="register_year" selectric-js)
            option(value="" disabled selected)!= "0000"
            option(value="0000")!= "0000"
            option(value="0000")!= "0000"
            option(value="0001")!= "0001"
            option(value="0002")!= "0002"
            option(value="0003")!= "0003"
            option(value="0004")!= "0004"
            option(value="0005")!= "0005"
          label.form__label(for="register_year")!= "Год"

      p.modal__subtitle.modal__subtitle--m!= "Докажите что вы не робот. <br>Сколько у вас пальцев на руке?"

      .form__field.form__field--p.form__field--m
        input.form__input(type="password" name="register_robot" class="" id="register_robot" placeholder="")
        label.form__label(for="register_robot")!= "Укажите цифру"

      .form__field-btn
        button.form__btn.btn.btn--color.btn--full(type="submit")!= "Зарегистрироваться"

      .form__field.form__field-checkbox
        .ui-checkbox
          input(type="checkbox" name="register_approve" id="register_approve" checked)
          label(for!="register_approve")!="Я прочитал(а) и полностью согласен(на) <a href='#'>с пользовательским соглашением.</a>"

// MODAL SIGN/REGISTER :: END
