// NAVIGATION :: START

-
  var mobileNav = [
    {
    href: 'about.html',
    name: 'О фонде'
    },
    {
    href: 'howWeEarn.html',
    name: 'Как мы зарабатываем'
    },
    {
    href: '#',
    name: 'Гарантии'
    },
    {
    href: 'investors.html',
    name: 'Инвесторам'
    },
    {
    href: 'reviews.html',
    name: 'Отзывы'
    },
    {
    href: 'faq.html',
    name: 'FAQ'
    },
    {
    href: 'blog.html',
    name: 'Блог'
    },
    {
    href: 'press.html',
    name: 'Пресса о нас'
    },
    {
    href: 'contacts.html',
    name: 'Контакты'
    }
  ];
  var mobileLang = [
    {
    href: '#',
    name: 'Eng'
    }
  ];
  var socialItem = [
    {
    href: "#",
    class: "fb",
    icon: "fab fa-facebook-f"
    },
    {
    href: "#",
    class: "tw",
    icon: "fab fa-twitter"
    },
    {
    href: "#",
    class: "vk",
    icon: "fab fa-vk"
    },
    {
    href: "#",
    class: "in",
    icon: "fab fa-instagram"
    },
    {
    href: "#",
    class: "yb",
    icon: "fab fa-youtube"
    }
  ];


#navigation.navigation.animated(nav-mobile-js)
  .navigation__row.navigation__row-1.wow.wowFadeUp(data-animation-delay="0.3s")
    a.parlor(href="cabinet.html" title!="" class!="")
      i.parlor__icon.icon-parlor
      != "Шусман"

    a.logout(href="cabinet.html" title!="" class!="")!= "Выйти"

  .navigation__row.navigation__row-0
    .nav.nav--mobile
      ul.nav__list
        each val, idx in mobileNav
          if(pageName === "about" && idx === 0)
            li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
              a.nav__link.is-active(href!= mobileNav[idx].href title!="")!= mobileNav[idx].name
          else if(pageName === "howWeEarn" && idx === 1)
            li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
              a.nav__link.is-active(href!= mobileNav[idx].href title!="")!= mobileNav[idx].name
          else if(pageName === "investors" && idx === 3)
            li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
              a.nav__link.is-active(href!= mobileNav[idx].href title!="")!= mobileNav[idx].name
          else if(pageName === "reviews" && idx === 4)
            li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
              a.nav__link.is-active(href!= mobileNav[idx].href title!="")!= mobileNav[idx].name
          else if(pageName === "faq" && idx === 5)
            li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
              a.nav__link.is-active(href!= mobileNav[idx].href title!="")!= mobileNav[idx].name
          else if(pageName === "blog" && idx === 6)
            li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
              a.nav__link.is-active(href!= mobileNav[idx].href title!="")!= mobileNav[idx].name
          else if(pageName === "press" && idx === 7)
            li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
              a.nav__link.is-active(href!= mobileNav[idx].href title!="")!= mobileNav[idx].name
          else if(pageName === "contacts" && idx === 8)
            li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
              a.nav__link.is-active(href!= mobileNav[idx].href title!="")!= mobileNav[idx].name
          else
            li.nav__item.wow.wowFadeUp(data-animation-delay!= (0.35 + parseFloat(0.1 * idx)).toFixed(2) + "s")
              a.nav__link(href!= mobileNav[idx].href title!="")!= mobileNav[idx].name

  .navigation__row.navigation__row-2.wow.wowFadeUp(data-animation-delay="0.3s")
    +lang(mobileLang)

  .navigation__row.navigation__row-3
    +social("Присоединяйтесь", socialItem)


// NAVIGATION :: END