// TABS :: START


section.tabs
  .container

    .tabs__container.tabs__container-0.is-active.animated
      p.tabs__subtitle.subtitle!= "Специалисты фонда постоянно собирают и анализируют информацию о предстоящих спортивных событиях, привлекая к этой работе внешних экспертов, владеющих всей полнотой информации о предстоящих матчах."
      p.tabs__text!= "Итогом этой кропотливой предварительной подготовки являются точные совпадения с результатами проведенных игр, что также влияет на успешность деятельности фонда."
      p.tabs__title!= "Никаких «Если»:"

      .tabs__row
        .tabs__col
          p!= "«Сезонность»"
          p!= "Работа проекта Winance построена таким образом, чтобы «сезонность» не оказывала влияния на конечный результат деятельности. Это достигается отличным знанием рынка, эффективным планированием и сочетанием работы одновременно по нескольким направлениям."

        .tabs__col
          p!= "Недостоверная информация"
          p!= "Специалисты Winance осуществляют особую проверку новых источников информации и допускают к работе информацию, проверенную не менее чем на 90%."

    .tabs__container.tabs__container-1.animated
      p.tabs__subtitle.subtitle!= "На тех матчах, где техническая организация мероприятия не позволяет передавать информацию о ходе игры в режиме реального времени, при передаче результата игры между площадкой и букмекерскими конторами образуется временная задержка."
      p.tabs__text!= "Присутствующий на игре сотрудник фонда передает нам информацию о ходе игры, опережая организаторов матча на несколько секунд, что позволяет нам делать правильные ставки в букмекерских конторах. Как правило, задержка составляет 7–15 секунд."
      p.tabs__title!= "Никаких «Если»:"

      .tabs__row
        .tabs__col
          p!= "Отсутствие временной задержки"
          p!= "Специалистами Winance проводится работа на турнирах низкого уровня, видеотрансляции матчей которых не проводится."

        .tabs__col
          p!= "Выявление игровых счетов и их блокировка"
          p!= "Грамотно используем игровые счета, минимизируем подозрительную активность, используем кошельки с историей ставок."

        .tabs__col
          p!= "Технические сбои"
          p!= "Технические неполадки являются неотъемлемой частью нашей деятельности, однако, их влияние несущественно на процесс в целом."



// TABS :: END
