-
  var svgSprite = 'img/sprite.svg'

mixin icon(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico " + name + modClass)
    use(xlink:href= svgSprite + '#' + name)


//- HAMBURGER
mixin hamburger()
  .hamburger(hamburger-js)
    .hamburger__box
      .hamburger__box-line


//- LOGO
mixin logotype()
  .logo
    a.logo__link(href="homepage.html" title!=)
      img(src="./img/img-logo.png" srcset!="./img/img-logo@2x.png 2x" title!="" alt!="")


//- LANG
mixin lang(arr)
  .lang
    each val, idx in arr
      a(href!= arr[idx].href title!="" class="lang__link")!= arr[idx].name


//- HEADER NAV
mixin headerNav(classMod, arr)
  .nav(class!="nav--" + classMod)
    ul.nav__list
      each val, idx in arr
        li.nav__item
          a.nav__link(href!= arr[idx].href title)!= arr[idx].name


//- FOOTER MENU
mixin footerNav(arr)
  .menu
    ul.menu__list
      each val, idx in arr
        li.menu__item
         a.menu__link(href!= arr[idx].href title="")!= arr[idx].name


//- PHONE
mixin phoneNum(classMod, num)
  .phone(class!= "phone--" + classMod)
    a(
      href!= "tel:num"
      class!= "phone__link"
      title!= ""
    )!= num


//- SOCIAL
mixin social(title, arr)
  .social
    p.social__title!= title
    ul.social__list
      each val, idx in arr
        li.social__item
          a.social__link(href!= arr[idx].href title!= "" class!= "social__link--" + arr[idx].class)
            i.social__icon(class!= arr[idx].icon)

