// INFO :: START

.blogDetails
  section.info
    .container

      .info__row.wow.wowFadeUp(data-animation-delay="0.3s")

        p.blogDetails__badge!= "Блог:"
        h1!= "Бизнес-планы – готовые <br>примеры вашего предприятия с расчетами"
        p!= "Какой-то текст. Большой опыт и связи в мире спорта дают нам эксклюзивные возможности для заработка в этой сфере."

        span= "Попробуем разобраться, как можно сэкономить такую сумму со вполне рядового дохода. В зависимости от уровня заработка времени может потребоваться 2-3 месяца, но наша главная задача не скорость, а поиск тех “пробоин”, что таятся в вашем личном бюджете."
        span= "Первая логичная мысль: чтобы начать инвестировать, надо больше зарабатывать. Но, если \"рассмотреть\" свои траты под микроскопом, легко найти те статьи расходов, которые спокойно можно урезать. Для этого важно собрать волю в кулак и приступить к их учету. Делать это можно с помощью готовых инструментов. Учитывая широкую распространенность и доступность смартфонов, рассмотрим приложения на платформе iOS и Android (практически все они имеют и веб-версии)."

        h2!= "Заголовок h2"
        span= "Попробуем разобраться, как можно сэкономить такую сумму со вполне рядового дохода. В зависимости от уровня заработка времени может потребоваться 2-3 месяца, но наша главная задача не скорость, а поиск тех “пробоин”, что таятся в вашем личном бюджете."
        span= "Первая логичная мысль: чтобы начать инвестировать, надо больше зарабатывать. Но, если \"рассмотреть\" свои траты под микроскопом, легко найти те статьи расходов, которые спокойно можно урезать. Для этого важно собрать волю в кулак и приступить к их учету. Делать это можно с помощью готовых инструментов. Учитывая широкую распространенность и доступность смартфонов, рассмотрим приложения на платформе iOS и Android (практически все они имеют и веб-версии)."

        h3!= "Заголовок h3"
        span!= "Попробуем разобраться, как можно сэкономить такую сумму со вполне рядового дохода. В зависимости от уровня заработка времени может потребоваться 2-3 месяца, но наша главная задача не скорость, а поиск тех “пробоин”, что таятся в вашем личном бюджете."

        h3!= "Заголовок h3"
        ul
          li!= "Попробуем разобраться, как можно сэкономить такую сумму со вполне рядового дохода."
          li!= "В зависимости от уровня заработка времени может потребоваться 2-3 месяца, но наша главная задача не скорость, а поиск тех “пробоин”, что таятся в вашем личном бюджете."
        
// INFO :: END
