// CALC :: START

form(action="" method="")
  .calc__tabs-header
    a.calc__tabs-btn.is-active(href="#" title="" data-tabs-btn="0" tabs-btn-js)!= "<span>Российский рубль</span> <sup>RUB<sup>"
    a.calc__tabs-btn(href="#" title="" data-tabs-btn="1" tabs-btn-js)!= "<span>Доллар США</span> <sup>USD<sup>"
    a.calc__tabs-btn(href="#" title="" data-tabs-btn="2" tabs-btn-js)!= "<span>Евро</span> <sup>EUR<sup>"

  .calc__tabs-body.calc__tabs-body-0.animated.is-active(data-tabs-body="0")
    .calc__tabs-col.calc__tabs-col-0
      p!="Сумма инвестиций*"
      p
        input.calc__input--sum(
          type="text"
          name=""
          value="10000"
          maskSumRu-js
          resizeInput-js
          sumDataRu-calc-js
        )
        i(style="display: none;")!= "10000"
        span!= "₽"

      .calc__tabs-range
        input(type="range" min="10000" max="5000000" step="10000" value="1" sumRangeRu-calc-js)

    .calc__tabs-col.calc__tabs-col-1
      p!="Срок инвестирования"
      p
        input.calc__input--month(
          type="text"
          name=""
          value="3"
          maskMonth-js
          resizeInput-js
          monthDataRu-calc-js
        )
        i(style="display: none;")!= "3"
        span!= "мес."

      .calc__tabs-range
        input(type="range" min="3" max="12" step="1" value="1" monthRangeRu-calc-js)

    .calc__tabs-col.calc__tabs-col-2
      p!="Итоговая сумма"
      p!="<span resultSum-calc-js>2 250.00</span> <span>₽</span>"
      p(percent-val-js)!="Cтавка: <strong>7.5</strong>% в месяц "
      button.btn.btn--color.btn--full(type="submit")!= "Открыть счет"


    .calc__tabs-col.calc__tabs-col-3
      p!="Выплаты"

      .calc__tabs-checkbox.ui-checkbox
        input(type="radio" id="radio-0" name="calc-radio-ru" data-radio="leave")
        label(for!="radio-0")!="Оставлять на счете"

      .calc__tabs-checkbox.ui-checkbox
        input(type="radio" id="radio-1" name="calc-radio-ru" data-radio="weekly" checked)
        label(for!="radio-1")!="Еженедельная выплата"

    .calc__tabs-col.calc__tabs-col-4
      p!= "* Сумма инвестиций возвращается в конце срока инвестирования"

    .calc__tabs-col.calc__tabs-col-5
      div
        p!="Сумма выплат <br>за 1 месяц"
        span(sumOneMonth-js)!= "0.00"
        span!= "₽"
      div
        p!="Сумма выплат <br>за 3 месяца"
        span(sumThreeMonth-js)!= "0.00"
        span!= "₽"


  .calc__tabs-body.calc__tabs-body-1.animated(data-tabs-body="1")
    .calc__tabs-col.calc__tabs-col-0
      p!="Сумма инвестиций*"
      p
        input.calc__input--sum(
          type="text"
          name=""
          value="200"
          maskSumEn-js
          resizeInput-js
          sumDataEn-calc-js
        )
        i(style="display: none;")!= "200"
        span!= "$"

      .calc__tabs-range
        input(type="range" min="200" max="100000" step="200" value="200" sumRangeEn-calc-js)

    .calc__tabs-col.calc__tabs-col-1
      p!="Срок инвестирования"
      p
        input.calc__input--month(
          type="text"
          name=""
          value="3"
          maskMonth-js
          resizeInput-js
          monthDataEn-calc-js
        )
        i(style="display: none;")!= "3"
        span!= "мес."

      .calc__tabs-range
        input(type="range" min="3" max="12" step="1" value="3" monthRangeEn-calc-js)

    .calc__tabs-col.calc__tabs-col-2
      p!="Итоговая сумма"
      p!="<span resultSum-calc-js>45.00</span> <span>$</span>"
      p(percent-val-js)!="Cтавка: <strong>7.5</strong>% в месяц "
      button.btn.btn--color.btn--full(type="submit")!= "Открыть счет"


    .calc__tabs-col.calc__tabs-col-3
      p!="Выплаты"

      .calc__tabs-checkbox.ui-checkbox
        input(type="radio" id="radio-2" name="calc-radio-en" data-radio="leave")
        label(for!="radio-2")!="Оставлять на счете"

      .calc__tabs-checkbox.ui-checkbox
        input(type="radio" id="radio-3" name="calc-radio-en" data-radio="weekly" checked)
        label(for!="radio-3")!="Еженедельная выплата"

    .calc__tabs-col.calc__tabs-col-4
      p!= "* Сумма инвестиций возвращается в конце срока инвестирования"

    .calc__tabs-col.calc__tabs-col-5
      div
        p!="Сумма выплат <br>за 1 месяц"
        span(sumOneMonth-js)!= "0.00"
        span!= "$"
      div
        p!="Сумма выплат <br>за 3 месяца"
        span(sumThreeMonth-js)!= "0.00"
        span!= "$"
  .calc__tabs-body.calc__tabs-body-2.animated(data-tabs-body="2")
    .calc__tabs-col.calc__tabs-col-0
      p!="Сумма инвестиций*"
      p
        input.calc__input--sum(
          type="text"
          name=""
          value="100"
          maskSumEu-js
          resizeInput-js
          sumDataEu-calc-js
        )
        i(style="display: none;")!= "100"
        span!= "€"

      .calc__tabs-range
        input(type="range" min="100" max="100000" step="100" value="1" sumRangeEu-calc-js)

    .calc__tabs-col.calc__tabs-col-1
      p!="Срок инвестирования"
      p
        input.calc__input--month(
          type="text"
          name=""
          value="3"
          maskMonth-js
          resizeInput-js
          monthDataEu-calc-js
        )
        i(style="display: none;")!= "3"
        span!= "мес."

      .calc__tabs-range
        input(type="range" min="1" max="12" step="1" value="1" monthRangeEu-calc-js)

    .calc__tabs-col.calc__tabs-col-2
      p!="Итоговая сумма"
      p!="<span resultSum-calc-js>0</span> <span>€</span>"
      p(percent-val-js)!="Cтавка: <strong>7.5</strong>% в месяц "
      button.btn.btn--color.btn--full(type="submit")!= "Открыть счет"


    .calc__tabs-col.calc__tabs-col-3
      p!="Выплаты"

      .calc__tabs-checkbox.ui-checkbox
        input(type="radio" id="radio-4" name="calc-radio-eu" data-radio="leave")
        label(for!="radio-4")!="Оставлять на счете"

      .calc__tabs-checkbox.ui-checkbox
        input(type="radio" id="radio-5" name="calc-radio-eu" data-radio="weekly" checked)
        label(for!="radio-5")!="Еженедельная выплата"

    .calc__tabs-col.calc__tabs-col-4
      p!= "* Сумма инвестиций возвращается в конце срока инвестирования"

    .calc__tabs-col.calc__tabs-col-5
      div
        p!="Сумма выплат <br>за 1 месяц"
        span(sumOneMonth-js)!= "0.00"
        span!= "€"
      div
        p!="Сумма выплат <br>за 3 месяца"
        span(sumThreeMonth-js)!= "0.00"
        span!= "€"


// CALC :: END