// GUARANTEES :: START


.guarantees
  .container

    h1.guarantees__title.title!= "Гарантии"

    .guarantees__row
      .guarantees__box
        .guarantees__box-wrap
          img.guarantees__box-img(src="./img/img-box-0__guarantees.png" srcset="./img/img-box-0__guarantees@2x.png 2x")
        p.guarantees__box-title!= "Официальный договор"
        p.guarantees__box-text!= "Вне зависимости от общей доходности, <br>Фонд гарантирует сохранность всей суммы, <br>полученной в управление с момента <br>заключения договора."

      .guarantees__box
        .guarantees__box-wrap
          img.guarantees__box-img(src="./img/img-box-1__guarantees.png" srcset="./img/img-box-1__guarantees@2x.png 2x")
        p.guarantees__box-title!= "Резервный фонд"
        p.guarantees__box-text!= "Все инвестиционные пакеты <br>защищены резервными средствами <br>Фонда, которые хранятся в <br>нескольких банках."



// GUARANTEES :: END