// MAIN :: START


section.main.main--0
  .container

    h1.main__title.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "О фонде"
    h2.main__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.4s")!= "Профессионализм команды и наработанный опыт позволили нам создать технологичный и надежный инструмент для инвесторов, обеспечивающий стабильный заработок и гарантирующий заявленные размеры дивидендов."

    .main__row
      .main__row-left
        .main__row-pagination.wow.wowFadeUp(data-animation-delay="0.45s")
          a.is-active(href="#" title!="" class!="" about-btn-js data-pagin="0")!= "2017"
          a(href="#" title!="" class!="" about-btn-js data-pagin="1")!= "2018"

        .main__row-box.is-active(about-box-js data-main="0")
          .main__row-left.animated.slideInUp
            .main__row-block
              span.animated.fadeIn!= "86 000 <sup>$</sup>"
              span.animated.fadeIn!= "Общая сумма принятых инвестиций"

          .main__row-right.animated.slideInUp
            .main__row-block
              span.animated.fadeIn!= "14 500 <sup>$</sup>"
              span.animated.fadeIn!= "Общая сумма <br>выплаченных <br>дивидендов"
              span.animated.fadeIn!= "Не считая суммы <br>депозитов"

        .main__row-box(about-box-js data-main="1")
          .main__row-left.animated.slideInUp
            .main__row-block
              span.animated.fadeIn!= "76 300 <sup>$</sup>"
              span.animated.fadeIn!= "Общая сумма принятых инвестиций"

          .main__row-right.animated.slideInUp
            .main__row-block
              span.animated.fadeIn!= "35 500 <sup>$</sup>"
              span.animated.fadeIn!= "Общая сумма <br>выплаченных <br>дивидендов"
              span.animated.fadeIn!= "Не считая суммы <br>депозитов"

      .main__row-right
        p.wow.wowFadeUp(data-animation-delay="0.45s")!= "Успешно управляем <br>инвестициями с 2013 года."
        p.wow.wowFadeUp(data-animation-delay="0.5s")!= "В начале 2013 года мы привлекли первые деньги инвесторов — 20 000 $. Инвесторами стали лица из нашего близкого круга, и до 2017 года фонд работал в закрытом режиме."
        br
        p.wow.wowFadeUp(data-animation-delay="0.55s")!= "В январе 2017 года мы запустили наш первый инвестиционный продукт, очень быстро показавший финансовую эффективность,  и открыли фонд для новых партнеров."
        br
        p.wow.wowFadeUp(data-animation-delay="0.6s")!= "Присоединяйтесь к нашей команде и выигрывайте вместе с нами!"


// MAIN :: END
