// MAIN :: START


section.main.main--0
  .container

    h1.main__title.title!= "О фонде"
    h2.main__subtitle.subtitle!= "Профессионализм команды и наработанный опыт позволили нам создать технологичный и надежный инструмент для инвесторов, обеспечивающий стабильный заработок и гарантирующий заявленные размеры дивидендов."

    .main__row
      .main__row-left
        .main__row-pagination
          a.is-active(href="#" title!="" class!="" about-btn-js data-pagin="0")!= "2017"
          a(href="#" title!="" class!="" about-btn-js data-pagin="1")!= "2018"

        .main__row-box.is-active(about-box-js data-main="0")
          .main__row-left
            .main__row-block
              span!= "86 000 <sup>$</sup>"
              span!= "Общая сумма принятых инвестиций"

          .main__row-right
            .main__row-block
              span!= "14 500 <sup>$</sup>"
              span!= "Общая сумма <br>выплаченных <br>дивидендов"
              span!= "Не считая суммы <br>депозитов"

        .main__row-box(about-box-js data-main="1")
          .main__row-left
            .main__row-block
              span!= "76 300 <sup>$</sup>"
              span!= "Общая сумма принятых инвестиций"

          .main__row-right
            .main__row-block
              span!= "35 500 <sup>$</sup>"
              span!= "Общая сумма <br>выплаченных <br>дивидендов"
              span!= "Не считая суммы <br>депозитов"

      .main__row-right
        p!= "Успешно управляем <br>инвестициями с 2013 года."
        p!= "В начале 2013 года мы привлекли первые деньги инвесторов — 20 000 $. Инвесторами стали лица из нашего близкого круга, и до 2017 года фонд работал в закрытом режиме."
        br
        p!= "В январе 2017 года мы запустили наш первый инвестиционный продукт, очень быстро показавший финансовую эффективность,  и открыли фонд для новых партнеров."
        br
        p!= "Присоединяйтесь к нашей команде и выигрывайте вместе с нами!"


// MAIN :: END
