// RISKS :: START


.risks
  .container

    p.risks__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Возможные риски и <br>способы их минимизации:"

    .risks__block.wow.wowFadeUp(data-animation-delay="0.4s")
      .risks__block-left.wow.wowFadeUp(data-animation-delay="0.5s")
        p!= "Взлом и кража средств <br>со счетов букмекера <br>или фонда"

      .risks__block-right.wow.wowFadeUp(data-animation-delay="0.5s")
        p!= "Мы разработали и продолжаем совершенствовать собственную систему безопасности. Для исключения непредвиденных ситуаций мы направляем определенный процент от оборотных средств в резервный фонд."

    .risks__block.wow.wowFadeUp(data-animation-delay="0.4s")
      .risks__block-left.wow.wowFadeUp(data-animation-delay="0.5s")
        p!= "Статистические <br>риски"

      .risks__block-right.wow.wowFadeUp(data-animation-delay="0.5s")
        p!= "Конечно, мы не можем зарабатывать на 100% матчей. Существует статистическая погрешность, которую нивелирует  жесткая диверсификация, а именно:"
        ul.wow.wowFadeUp(data-animation-delay="0.55s")
          li!= "- Работа с разными видами спорта;"
          li!= "- Участие в большом количестве матчей;"
          li!= "- Выбор турниров низкого уровня."

    .risks__block.wow.wowFadeUp(data-animation-delay="0.4s")
      .risks__block-left.wow.wowFadeUp(data-animation-delay="0.5s")
        p!= "Технические <br>риски"

      .risks__block-right.wow.wowFadeUp(data-animation-delay="0.5s")
        p!= "Наш опыт позволяет выбирать матчи по уровню, месту проведения, времени и другим параметрам так, чтобы минимизировать технические риски."


// RISKS :: END