// CALC :: START


.calc
  .container

    h1.calc__title.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Рассчитайте ваш доход"
    h1.calc__title.calc__title--mobile.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Калькулятор доходности"

    .calc__row

      .calc__tabs

        form(action="" method="")
          .calc__tabs-header
            a.calc__tabs-btn.is-active(href="#" title="" data-tabs-btn="0" tabs-btn-js)!= "<span>Российский рубль</span> <sup>RUB<sup>"
            a.calc__tabs-btn(href="#" title="" data-tabs-btn="1" tabs-btn-js)!= "<span>Доллар США</span> <sup>USD<sup>"
            a.calc__tabs-btn(href="#" title="" data-tabs-btn="2" tabs-btn-js)!= "<span>Евро</span> <sup>EUR<sup>"

          .calc__tabs-body.calc__tabs-body-0.animated.is-active(data-tabs-body="0")
            .calc__tabs-col.calc__tabs-col-0
              p!="Сумма инвестиций*"
              p
                input.calc__input--sum(
                  type="text"
                  name=""
                  value="100"
                  maskSumRu-js
                  resizeInput-js
                  sumDataRu-calc-js
                )
                i(style="display: none;")!= "100"
                span!= "₽"

              .calc__tabs-range
                input(type="range" min="100" max="5000000" step="100" value="1" sumRangeRu-calc-js)

            .calc__tabs-col.calc__tabs-col-1
              p!="Срок инвестирования"
              p
                input.calc__input--month(
                  type="text"
                  name=""
                  value="1"
                  maskMonth-js
                  resizeInput-js
                  monthDataRu-calc-js
                )
                i(style="display: none;")!= "1"
                span!= "мес."

              .calc__tabs-range
                input(type="range" min="1" max="12" step="1" value="1" monthRangeRu-calc-js)

            .calc__tabs-col.calc__tabs-col-2
              p!="Итоговая сумма"
              p!="<span resultSum-calc-js>0</span> <span>₽</span>"
              p!="Cтавка: <strong>0%</strong> в месяц "
              button.btn.btn--color.btn--full(type="submit")!= "Открыть счет"


            .calc__tabs-col.calc__tabs-col-3
              p!="Выплаты"

              .calc__tabs-checkbox.ui-checkbox
                input(type="checkbox" id="check-0")
                label(for!="check-0")!="Оставлять на счете"

              .calc__tabs-checkbox.ui-checkbox
                input(type="checkbox" id="check-1" checked)
                label(for!="check-1")!="Еженедельная выплата"

            .calc__tabs-col.calc__tabs-col-4
              p!= "* Сумма инвестиций возвращается в конце срока инвестирования"

            .calc__tabs-col.calc__tabs-col-5
              div
                p!="Сумма выплат <br>за 1 месяц"
                span!= "0"
                span!= "₽"
              div
                p!="Сумма выплат <br>за 3 месяца"
                span!= "0"
                span!= "₽"


          .calc__tabs-body.calc__tabs-body-0.animated(data-tabs-body="1")
            .calc__tabs-col.calc__tabs-col-0
              p!="Сумма инвестиций*"
              p
                input.calc__input--sum(
                  type="text"
                  name=""
                  value="100"
                  maskSumEn-js
                  resizeInput-js
                  sumDataEn-calc-js
                )
                i(style="display: none;")!= "100"
                span!= "USD"

              .calc__tabs-range
                input(type="range" min="100" max="100000" step="100" value="1" sumRangeEn-calc-js)

            .calc__tabs-col.calc__tabs-col-1
              p!="Срок инвестирования"
              p
                input.calc__input--month(
                  type="text"
                  name=""
                  value="1"
                  maskMonth-js
                  resizeInput-js
                  monthDataEn-calc-js
                )
                i(style="display: none;")!= "1"
                span!= "мес."

              .calc__tabs-range
                input(type="range" min="1" max="12" step="1" value="1" monthRangeEn-calc-js)

            .calc__tabs-col.calc__tabs-col-2
              p!="Итоговая сумма"
              p!="<span resultSum-calc-js>0</span> <span>USD</span>"
              p!="Cтавка: <strong>0%</strong> в месяц "
              button.btn.btn--color.btn--full(type="submit")!= "Открыть счет"


            .calc__tabs-col.calc__tabs-col-3
              p!="Выплаты"

              .calc__tabs-checkbox.ui-checkbox
                input(type="checkbox" id="check-2")
                label(for!="check-2")!="Оставлять на счете"

              .calc__tabs-checkbox.ui-checkbox
                input(type="checkbox" id="check-3" checked)
                label(for!="check-3")!="Еженедельная выплата"

            .calc__tabs-col.calc__tabs-col-4
              p!= "* Сумма инвестиций возвращается в конце срока инвестирования"

            .calc__tabs-col.calc__tabs-col-5
              div
                p!="Сумма выплат <br>за 1 месяц"
                span!= "0"
                span!= "USD"
              div
                p!="Сумма выплат <br>за 3 месяца"
                span!= "0"
                span!= "USD"
          .calc__tabs-body.calc__tabs-body-0.animated(data-tabs-body="2")
            .calc__tabs-col.calc__tabs-col-0
              p!="Сумма инвестиций*"
              p
                input.calc__input--sum(
                  type="text"
                  name=""
                  value="100"
                  maskSumEu-js
                  resizeInput-js
                  sumDataEu-calc-js
                )
                i(style="display: none;")!= "100"
                span!= "EUR"

              .calc__tabs-range
                input(type="range" min="100" max="100000" step="100" value="1" sumRangeEu-calc-js)

            .calc__tabs-col.calc__tabs-col-1
              p!="Срок инвестирования"
              p
                input.calc__input--month(
                  type="text"
                  name=""
                  value="1"
                  maskMonth-js
                  resizeInput-js
                  monthDataEu-calc-js
                )
                i(style="display: none;")!= "1"
                span!= "мес."

              .calc__tabs-range
                input(type="range" min="1" max="12" step="1" value="1" monthRangeEu-calc-js)

            .calc__tabs-col.calc__tabs-col-2
              p!="Итоговая сумма"
              p!="<span resultSum-calc-js>0</span> <span>EUR</span>"
              p!="Cтавка: <strong>0%</strong> в месяц "
              button.btn.btn--color.btn--full(type="submit")!= "Открыть счет"


            .calc__tabs-col.calc__tabs-col-3
              p!="Выплаты"

              .calc__tabs-checkbox.ui-checkbox
                input(type="checkbox" id="check-4")
                label(for!="check-4")!="Оставлять на счете"

              .calc__tabs-checkbox.ui-checkbox
                input(type="checkbox" id="check-5" checked)
                label(for!="check-5")!="Еженедельная выплата"

            .calc__tabs-col.calc__tabs-col-4
              p!= "* Сумма инвестиций возвращается в конце срока инвестирования"

            .calc__tabs-col.calc__tabs-col-5
              div
                p!="Сумма выплат <br>за 1 месяц"
                span!= "0"
                span!= "EUR"
              div
                p!="Сумма выплат <br>за 3 месяца"
                span!= "0"
                span!= "EUR"



// CALC :: END