// MAIN :: START


.main

  .main__line-wrap(main-line-js)
    .main__line-box
      .main__line-col.main__line-col--0
        p!= "90<sup>дней</sup>"
        p!= "Минимальный <br>депозит"
      .main__line-col.main__line-col--1
        p!= "15<sup>%</sup>"
        p!= "Максимальная <br>доходность <br>в месяц"
      .main__line-col.main__line-col--2
        p!= "23 584 810<sup>₽</sup>"
        p!= "Выплачено дивидендов с 2013 по 2018"

  .container

    .main__row
      .main__row-left
        h1.main__title.title!= "Инвестиционный <br>спортивный фонд <br>Winance"

        a.main__btn.btn.btn--color(href="" title!="")!= "Станьте инвестором"

      .main__row-right

        a.main__play(href="#" title="")
          i.icon-play
          .main__play-wrap
            p!= "Посмотрите!"
            p!= "Как мы работаем"


        
// MAIN :: END
