// REASONS :: START


.reasons
  .container

    h1.reasons__title.title!= "Оцените выгоды"

    .reasons__row
      .reasons__box.reasons__box-0.reasons__box--big
        .reasons__box-left
          p.reasons__box-title!= "Высокая <br>доходность"
          p.reasons__box-text!= "<span>Средняя ставка в 2 раза выше</span>, чем в российских частных <br>фондах"
          p.reasons__box-text.reasons__box-text--p!= "Максимальная доходность <br><span>до 15% в месяц!</span>"

        .reasons__box-right
            img.reasons__box-img(src="./img/profit.svg")

      .reasons__box.reasons__box-1
        .reasons__box-wrap
          img.reasons__box-img(src="./img/pays.svg")
        p.reasons__box-title!= "Еженедельные выплаты"
        p.reasons__box-text!= "Получайте дивиденды хоть каждую неделю."

      .reasons__box.reasons__box-2
        .reasons__box-wrap
          img.reasons__box-img(src="./img/security.svg")
        p.reasons__box-title!= "Гарантии <br>и безопасность"
        p.reasons__box-text!= "Инвестиции защищены официальным договором, <br><span>риски менее 1%.</span>"

      .reasons__box.reasons__box-3
        .reasons__box-wrap
          img.reasons__box-img(src="./img/innovations.svg")
        p.reasons__box-title!= "Инновационность"
        p.reasons__box-text!= "Новый для России <br>инвестиционный инструмент, <br><span>доказавший свою <br>эффективность</span> за рубежом."

      .reasons__box.reasons__box-4
        .reasons__box-wrap
          img.reasons__box-img(src="./img/team.svg")
        p.reasons__box-title!= "Опытная команда"
        p.reasons__box-text!= "<span>5 лет</span> зарабатываем <br>на спорте, деятельность <br>подтверждена."



// REASONS :: END