// MAIN :: START


section.main
  .container

    .main__row
      .main__row-left
        h1.main__title.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Вопросы и ответы"
        h2.main__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.4s")!= "В этом разделе вы найдете подробные ответы на самые распространенные вопросы. Если вы пока не нашли ответа на свой вопрос — спрашивайте!"

      .main__row-right
        a.main__btn.btn.btn--color.wow.wowFadeUp(
          data-animation-delay="0.45s"
          href="#modalFaq"
          title!=""
          class!= ""
          faq-new-js
        )!= "Задать вопрос"

// MAIN :: END