// BLOGS :: START


-
  var blockData = [
    {
      attr: "business",
      href: "blogDetailsWImage.html",
      classMod: '',
      imgName: '',
      title: 'Бизнес-планы – готовые <br>примеры вашего предприятия <br>с расчетами',
      text: 'От эффективности вашего поведения на рынке зависит ваш заработок. Поэтому придерживаться правильной политики при трейдинге – значит обеспечить себе доход. Выбрать ее достаточно сложно, так как экономика никогда не стоит на месте, все постоянно меняется.',
      badgeArr: [
        '<span>#</span> Бизнес'
      ],
      date: '12 августа 2018'
    },
    {
      attr: "business & news",
      href: "blogDetails.html",
      classMod: 'image',
      imgName: './img/img-block__blogs.png',
      title: 'Самые лучшие <br>и прибыльные стратегии <br>бинарных опционов',
      text: 'Содержание Долгосрочный план действий. Краткосрочная политика. Практика. Альтернативный способ вложений. Долгосрочный план действий Мы начнем с самых надежных.',
      badgeArr: [
      '<span>#</span> Бизнес',
      '<span>#</span> Новости'
      ],
      date: '12 августа 2018'
    },
    {
      attr: "business & news",
      href: "blogDetailsWImage.html",
      classMod: '',
      imgName: '',
      title: 'Бизнес-планы – готовые <br>примеры вашего предприятия <br>с расчетами',
      text: 'Отметим, что все приведенные цифры приблизительны и могут отличаться в зависимости от региона. Итак, обратимся к первичной информации: Первоначальные вложения составят около 2 миллионов. Окупаемость – порядка двух лет. Необходимая площадь...',
      badgeArr: [
      '<span>#</span> Бизнес',
      '<span>#</span> Новости'
      ],
      date: '12 августа 2018'
    },
    {
      attr: "news",
      href: "blogDetails.html",
      classMod: 'image',
      imgName: './img/img-block__blogs.png',
      title: 'В этой статье мы разберем <br>ряд бесплатных стратегий',
      text: 'Для торговли бинарными опционами (binary options): узнаем самые лучшие и прибыльные.',
      badgeArr: [
      '<span>#</span> Новости'
      ],
      date: '12 августа 2018'
    },
    {
      attr: "business",
      href: "blogDetailsWImage.html",
      classMod: '',
      imgName: '',
      title: 'Бизнес-планы – готовые <br>примеры вашего предприятия <br>с расчетами',
      text: 'В этой статье мы разберем ряд бесплатных стратегий.',
      badgeArr: [
      '<span>#</span> Бизнес'
      ],
      date: '12 августа 2018'
    },
    {
      attr: "business & news",
      href: "blogDetailsWImage.html",
      classMod: '',
      imgName: '',
      title: 'Бизнес-планы – готовые <br>примеры вашего предприятия <br>с расчетами',
      text: 'В этой статье мы разберем ряд бесплатных стратегий для торговли бинарными опционами (binary options): узнаем самые лучшие и прибыльные.',
      badgeArr: [
      '<span>#</span> Бизнес',
      '<span>#</span> Новости'
      ],
      date: '12 августа 2018'
    },
    {
      attr: "news",
      href: "blogDetailsWImage.html",
      classMod: '',
      imgName: '',
      title: 'Бизнес-планы – готовые <br>примеры вашего предприятия <br>с расчетами',
      text: 'В этой статье мы разберем ряд бесплатных стратегий для торговли бинарными опционами (binary options): узнаем самые лучшие и прибыльные.',
      badgeArr: [
      '<span>#</span> Новости'
      ],
      date: '12 августа 2018'
    },
    {
      attr: "business",
      href: "blogDetailsWImage.html",
      classMod: '',
      imgName: '',
      title: 'Бизнес-планы – готовые <br>примеры вашего предприятия <br>с расчетами',
      text: 'Отметим, что все приведенные цифры приблизительны и могут отличаться в зависимости от региона. Итак, обратимся к первичной информации: Первоначальные вложения составят около 2 миллионов. Окупаемость – порядка двух лет. Необходимая площадь...',
      badgeArr: [
      '<span>#</span> Бизнес'
      ],
      date: '12 августа 2018'
    },
    {
      attr: "news",
      href: "blogDetailsWImage.html",
      classMod: '',
      imgName: '',
      title: 'Бизнес-планы – готовые <br>примеры вашего предприятия <br>с расчетами',
      text: 'От эффективности вашего поведения на рынке зависит ваш заработок. Поэтому придерживаться правильной политики при трейдинге – значит обеспечить себе доход. Выбрать ее достаточно сложно, так как экономика никогда не стоит на месте, все постоянно меняется.',
      badgeArr: [
      '<span>#</span> Новости'
      ],
      date: '12 августа 2018'
    }
  ];
  var blogsPagination = [
    {
      name: 'Все',
      attr: 'all'
    },
    {
      name: 'Бизнес',
      attr: 'business'
    },
    {
      name: 'Новости',
      attr: 'news'
    }
  ];


section.blogs
  .container

    .blogs__pagination
      ul.blogs__pagination-list
        each val, idx in blogsPagination
          li.blogs__pagination-item.wow.wowFadeUp(data-animation-delay!= (0.45 + parseFloat(0.1 * idx)).toFixed(2) + "s")
            a.blogs__pagination-link(
              href="#"
              title!=""
              class!=(idx === 0) ? "is-active": ""
              blogs-pagination-js
              data-pagination= blogsPagination[idx].attr
            )!= blogsPagination[idx].name

    .blogs__row.wow.wowFadeUp(data-animation-delay="0.7s")

      include ../../macros/_blogsBlock

  .container
    a.blogs__btn.blogs__btn--blog.btn.btn--big.wow.wowFadeUp(
      data-animation-delay="0.4s"
      href="#"
      title!=""
      class!= ""
      blogs-more-js
    )!= "Показать еще"

        
// BLOGS :: END
